acme==3.0.1
aenum==3.1.15
aiodhcpwatcher==1.0.2
aiodiscover==2.1.0
aiodns==3.2.0
aiohappyeyeballs==2.4.4
aiohasupervisor==0.2.2b5
aiohttp==3.11.11
aiohttp-cors==0.7.0
aiohttp-fast-zlib==0.2.0
aiohttp-zlib-ng==0.3.2
aiooui==0.1.7
aiorun==2024.8.1
aiosignal==1.3.2
aiozoneinfo==0.2.1
annotated-types==0.7.0
anyio==4.8.0
astral==2.2
astroid==3.3.8
async-timeout==4.0.3
async_interrupt==1.2.0
async_upnp_client==0.42.0
atomicwrites-homeassistant==1.4.1
attrs==24.2.0
audioop-lts==0.2.1
av==14.1.0
awesomeversion==24.6.0
backoff==2.2.1
bcrypt==4.2.0
black==24.10.0
bleak==0.22.3
bleak-retry-connector==3.6.0
bluetooth-adapters==0.20.2
bluetooth-auto-recovery==1.4.2
bluetooth-data-tools==1.20.0
boolean.py==4.0
boto3==1.35.97
botocore==1.35.97
btsocket==0.3.0
cached-ipaddress==0.8.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
ciso8601==2.3.2
click==8.1.8
coloredlogs==15.0.1
colorlog==6.9.0
coverage==7.6.8
cronsim==2.6
cryptography==44.0.0
dacite==1.8.1
dbus-fast==2.24.3
defusedxml==0.7.1
dill==0.3.9
distlib==0.3.9
envs==1.4
execnet==2.1.1
filelock==3.16.1
fnv-hash-fast==1.0.2
fnvhash==0.1.0
freezegun==1.5.1
frozenlist==1.5.0
gitdb==4.0.11
GitPython==3.1.44
go2rtc-client==0.1.2
gTTS==2.2.4
h11==0.14.0
ha-ffmpeg==3.2.2
habluetooth==3.7.0
hass-nabucasa==0.87.0
hassil==2.1.0
home-assistant-bluetooth==1.13.0
home-assistant-chip-clusters==2024.9.0
home-assistant-frontend==20250109.0
home-assistant-intents==2025.1.1
homeassistant==2025.1.2
httpcore==1.0.7
httpx==0.27.2
humanfriendly==10.0
identify==2.6.6
idna==3.10
ifaddr==0.2.0
iniconfig==2.0.0
isal==1.7.1
isort==5.13.2
Jinja2==3.1.5
jmespath==1.0.1
josepy==1.14.0
license-expression==30.4.0
lru-dict==1.3.0
MarkupSafe==3.0.2
mashumaro==3.15
mccabe==0.7.0
mock-open==1.4.0
multidict==6.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
netifaces==0.11.0
nodeenv==1.9.1
numpy==2.2.0
orjson==3.10.12
packaging==24.2
paho-mqtt==1.6.1
pathspec==0.12.1
pillow==11.0.0
pipdeptree==2.23.4
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
propcache==0.2.1
psutil==6.1.1
psutil-home-assistant==0.0.1
pycares==4.5.0
pycognito==2024.5.1
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
PyJWT==2.10.1
pylint==3.3.3
pylint-per-file-ignores==1.3.2
PyMetno==0.13.0
pymicro_vad==1.0.1
PyNaCl==1.5.0
pyOpenSSL==24.3.0
pyotp==2.8.0
PyQRCode==1.2.1
pyRFC3339==2.0.1
PyRIC==0.1.6.3
pyroute2==0.8.1
pyserial==3.5
pyspeex_noise==1.0.2
pytest==8.3.4
pytest-aiohttp==1.0.5
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytest-github-actions-annotate-failures==0.2.0
pytest-homeassistant-custom-component==0.13.203
pytest-picked==0.5.0
pytest-socket==0.7.0
pytest-sugar==1.0.0
pytest-timeout==2.3.1
pytest-unordered==0.6.1
pytest-xdist==3.6.1
pytest_freezer==0.4.8
python-dateutil==2.9.0.post0
python-didl-lite==1.4.1
python-matter-server==6.6.0
python-slugify==8.0.4
PyTurboJPEG==1.7.5
pytz==2024.2
pyudev==0.24.1
PyYAML==6.0.2
radios==0.3.2
requests==2.32.3
requests-mock==1.12.1
respx==0.21.1
ruff==0.9.2
s3transfer==0.10.4
scapy==2.6.1
securetar==2024.11.0
setuptools==69.0.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snitun==0.39.1
SQLAlchemy==2.0.36
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-telnetlib==3.13.0
syrupy==4.8.0
termcolor==2.5.0
text-unidecode==1.3
tomlkit==0.13.2
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
uart-devices==0.1.0
ulid-transform==1.0.2
unicode-rbnf==2.2.0
urllib3==1.26.20
usb-devices==0.4.5
uv==0.5.8
virtualenv==20.28.1
voluptuous==0.15.2
voluptuous-openapi==0.0.5
voluptuous-serialize==2.6.0
webrtc-models==0.3.0
xmltodict==0.14.2
yamllint==1.35.1
yarl==1.18.3
zeroconf==0.136.2
zlib-ng==0.5.1
